<!-- start custom analytics snippet -->
<!-- Global site tag (gtag.js) - Google Analytics -->

<!-- Bellow is the old tracking tag, zzy-->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177229591-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177229591-1');
</script> -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1Q2NPSPN5J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1Q2NPSPN5J');
</script>

<!-- end custom analytics snippet -->